# Flutter/Dart related
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
generated_plugin_registrant.dart

# ignore everything in build except web
build/*
!build/web/

# iOS
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
android/app/google-services.json

# macOS
macos/Flutter/Generated.xcconfig
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace
macos/Runner/GeneratedPluginRegistrant.*

# Linux
linux/flutter/ephemeral/
linux/build/

# Windows
windows/flutter/ephemeral/
windows/build/
windows/runner/
windows/Runner/GeneratedPluginRegistrant.*

# Web (Flutter web)
web/generated_plugin_registrant.dart

# VS Code
.vscode/
.history/

# IntelliJ / Android Studio
.idea/
*.iml

# Logs
*.log

# Crashlytics/Firebase
crashlytics-build.properties

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Coverage
coverage/
lcov.info

# Misc
*.swp
*.swo
.DS_Store
*.tmproj
*.tmp
*.orig

# Env files
.env
.env.*
