services:
  flutter-web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8090:80"
    restart: unless-stopped
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flutter-web.rule=Host(`magasinelhadi.iperfee.com`)"
      - "traefik.http.routers.flutter-web.entrypoints=websecure"
      - "traefik.http.routers.flutter-web.tls.certresolver=letsencrypt"
      - "traefik.http.services.flutter-web.loadbalancer.server.port=80"

networks:
  dokploy-network:
    external: true
